﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    height: 100%;
}

body {
    background-image: url("../img/PTFE_BG.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* container styles
-------------------------------------------------- */
.container-fluid {
    font-size: small;
    height: 100%;
    max-height: 100%;
}

/* grid styles
-------------------------------------------------- */

.row-top {
    height: 50%;
}

.row-bottom {
    height: 50%;
}

/* logo vws */
.col-top-mid {
    text-align: center;
}

/* logo samen */
.col-top-right {
    text-align: right;
    padding-top: 15px;
}

/* uzi button */
.col-sub-top {
    text-align: center;
}

/* uzi card */
.col-sub-bottom {
    text-align: center;
    margin: 50px;
}

/* logo pt */
.col-bottom-right {
}

/* img styles
-------------------------------------------------- */

/* logo vws */
.col-top-mid img {
    height: 80px;
    position: fixed;
}

/* logo samen */
.col-top-right img {
    height: 35px;
}

/* buttons */
.btn-success {
    background-color: #609256 !important;
    border-color: #609256 !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) !important;
}

    .btn-success:hover {
        background-color: #7bb86f !important;
        border-color: #7bb86f !important;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) !important;
    }

    .btn-success:active {
        background-color: #609256 !important;
        border-color: #609256 !important;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    }

.btn-danger {
    background-color: #c9005d !important;
    border-color: #c9005d !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) !important;
}

    .btn-danger:hover {
        background-color: #ed006e !important;
        border-color: #ed006e !important;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) !important;
    }

    .btn-danger:active {
        background-color: #c9005d !important;
        border-color: #c9005d !important;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    }

.btn-primary {
    background-color: #3eafe5 !important;
    border-color: #3eafe5 !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) !important;
}

    .btn-primary:hover {
        background-color: #4bc2fb !important;
        border-color: #4bc2fb !important;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) !important;
    }

    .btn-primary:active {
        background-color: #3eafe5 !important;
        border-color: #3eafe5 !important;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    }

.btn-oncard {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
}

/* uzi card */
.col-sub-bottom img {
    max-width: 40%;
    max-height: 40%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

/* logo pt */
.col-bottom-right img {
    height: 80px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 25px;
    right: 25px
}

/* card styles
-------------------------------------------------- */
.card {
    border-radius: 15px !important;
    border-width: 0 !important;
    padding: 40px;
    margin: 20px 80px 20px 80px;
    text-align: center;
    /* max-width: 1000px; */
}

.card-col-left {
    padding-right: 30px !important;
}

.card-col-right {
    padding-left: 30px !important;
}

.validated {
    color: #609256 !important;
    font-size: large;
}

.demo {
    color: #bbb !important;
    font-size: small;
}

.fingerprint {
    font-size: large;
}

.status {
    color: #bbb !important;
    font-size: small;
}

.status-connected {
    color: #609256 !important;
}

.status-confirm {
    color: #3eafe5 !important;
}

.status-sent {
    color: #3eafe5 !important;
}

.status-error {
    color: #c9005d !important;
}

.status-hashtag {
    color: #c9005d !important;
    font-weight: bold;
}
