﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Autorisatie Zorgverlener";
}

<div class="container-fluid">
    <div class="row row-top">
        <div class="col-2">
        </div>
        <div class="col-8 col-top-mid">
            <img src="img/PTFE_LOGO_VWS.png">
        </div>
        <div class="col-2 col-top-right">
            <img src="img/PTFE_ALLEEN_SAMEN.png">
        </div>
    </div>
    <div class="row row-bottom">
        <div class="col-2">
        </div>
        <div class="col-8 col-bottom-mid align-center">
            <div class="card">
                <div class="row">
                    <div class="col-6 col-xs-12 col-sm-12 col-md-12 col-lg-6 card-col-left">
                        <div class="validated">
                            <i class="fas fa-user-check"></i>
                        </div>
                        <div class="validated">
                            Gebruiker gevalideerd
                        </div>
                        @if (Model.ClientCertIsValid)
                        {
                            <div class="cert-subject">
                                Certificaat: @Model.ClientCertSubject
                            </div>}
                        else
                        {
                            <div class="cert-subject">
                                Demo certificaat: @Model.ClientCertSubject
                            </div>}
                        <br><br>
                        <div class="demo">
                            <p>
                                Op deze pagina kunt u het delen van de anonieme besmettingsdata van een patient goedkeuren.
                            </p>
                            <p>
                                Deze pagina is alleen toegankelijk voor zorgverleners met een geldige UZI-pas. Er is gevalideerd dat er een geldig certificaat op uw systeem is geïnstalleerd.
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-xs-12 col-sm-12 col-md-12 col-lg-6 card-col-right">
                        <form method="post">
                            <div class="code">
                                <div class="form-group">
                                    <label for="authCode">Vul de autorisatiecode in</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-fingerprint"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="@(Model.AuthCode == null || InputValidation.IsValidAuthCode(Model.AuthCode) ? "form-control" : "form-control is-invalid")" placeholder="xxx-xxx-xxxx" name="AuthCode" value="@Model.AuthCode">
                                    </div>
                                    <br>
                                    <label for="normDate">Vul uw beste schatting in van de eerste dag waarop de patiënt besmettelijk was</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="@(Model.NormDate == null || InputValidation.IsValidNormDate(Model.NormDate) ? "form-control" : "form-control is-invalid")" placeholder="dd-mm-jjjj" name="NormDate" value="@Model.NormDate">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="send">
                                @if (Model.CurrentState != IndexModel.State.success)
                                {
                                    <button class="btn btn-success btn-sm btn-oncard" role="button" name="ButtonName" value="send">Verstuur</button>
                                }
                                <button class="btn btn-danger btn-sm btn-oncard" role="button" name="ButtonName" value="cancel">Annuleer</button>
                            </div>
                            <br><br>
                            <div>
                                @if (Model.CurrentState == IndexModel.State.input)
                                {
                                    <p class="status" id="status-connected">
                                        Status: <span class="status-connected">@Model.StatusMessage</span>
                                    </p>
                                }
                                @if (Model.CurrentState == IndexModel.State.success)
                                {
                                    <p class="status" id="status-sent">
                                        Status: <span class="status-sent" id="status-sent-detail">@Model.StatusMessage</span>
                                    </p>
                                    <p class="status" id="status-bedankt">
                                        <span class="status-hashtag">Bedankt!</span><br>
                                        <span class="status-hashtag">#samentegencorona</span>
                                    </p>
                                }
                                @if (Model.CurrentState == IndexModel.State.error)
                                {
                                    <p class="status" id="status-error">
                                        Status: <span class="status-error" id="status-error-detail">@Model.StatusMessage</span>
                                    </p>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 col-bottom-right">
            <img src="img/PTFE_LOGO_PT.png">
        </div>
    </div>
</div>